.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container1 {
  margin: 15px 10px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 30px;
}

.container2 {
  margin: 15px auto;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 25px; 
}
.container2 > span{
  background-color: rgb(73, 199, 73);
  padding: 5px 40px;
  opacity: 0.8;
  border-radius: 15px;
}







.submitContainer {
  margin: 15px auto;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 25px; 
}
.submitContainer > span{
  background-color: rgb(73, 199, 73);
  padding: 5px 40px;
  border-radius: 15px;
}

